body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  form {
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    width: 40%;
    text-align: center;
    height: 50px;
    border: 1px solid;
    background: #01BF7E;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }

  input[type="submit"]:hover{
    border-color: #fdfdfd;
    transition: .5s;
    background-color: black;
    color:white;
    }
  
  table {
    margin: 50px auto;
    border-collapse: collapse;
    width: 80%;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #009688;
    color: #fff;
  }
  